<a href="https://colab.research.google.com/github/bhargavdhanisetti/AIML_NEOSKILLZ/blob/main/day_13_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#day 13 and 14
print("hello world")

hello world

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
data=pd.read_csv("/content/Iris (1) (1).csv")
print(data.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            NaN           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
data["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  146 non-null    float64
 2   SepalWidthCm   148 non-null    float64
 3   PetalLengthCm  146 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     146.000000    148.000000     146.000000    150.000000
mean    75.500000       5.865753      3.050676       3.798630      1.198667
std     43.445368       0.821977      0.434952       1.758996      0.763161
min      1.000000       4.400000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.400000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
data.shape

(150, 6)

In [ ]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
data['SepalLengthCm']=data['SepalLengthCm'].fillna(data['SepalLengthCm'].mean())

In [ ]:
data['SepalWidthCm']=data['SepalWidthCm'].fillna(data['SepalWidthCm'].median())

In [ ]:
data['PetalLengthCm']=data['PetalLengthCm'].fillna(data['PetalLengthCm'].median())

In [ ]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
conditional_sepal_length=data[data['SepalLengthCm']<=5.5]
print(conditional_sepal_length.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            4.4           0.4  Iris-setosa

In [ ]:
conditional_species=data[data['Species'] != 'Iris-setosa']
print(conditional_species)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
50    51            7.0           3.2            4.7           1.4
51    52            6.4           3.2            4.5           1.5
52    53            6.9           3.1            4.9           1.5
53    54            5.5           2.3            4.0           1.3
54    55            6.5           2.8            4.6           1.5
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

             Species
50   Iris-versicolor
51   Iris-versicolor
52   Iris-versicolor
53   Iris-versicolor
54   Iris-versicolor
..               ...
145   Iris-virginica
146   Iris-virginica
147   Iris-virginica
148   Iris-virginica
149   Iris-virginica

[100 rows x 6 columns]

In [ ]:
conditional_species_1=data[data['Species'].isin(['Iris-versicolor', 'Iris-virginica'])]
print(conditional_species_1)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
50    51            7.0           3.2            4.7           1.4
51    52            6.4           3.2            4.5           1.5
52    53            6.9           3.1            4.9           1.5
53    54            5.5           2.3            4.0           1.3
54    55            6.5           2.8            4.6           1.5
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

             Species
50   Iris-versicolor
51   Iris-versicolor
52   Iris-versicolor
53   Iris-versicolor
54   Iris-versicolor
..               ...
145   Iris-virginica
146   Iris-virginica
147   Iris-virginica
148   Iris-virginica
149   Iris-virginica

[100 rows x 6 columns]