<a href="https://colab.research.google.com/github/bhargavdhanisetti/AIML_ZENOTALENT/blob/main/day_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "bhargav"
age = 26
score = 50
print(name,age,score)

bhargav 26 50

In [ ]:
a,b =7,3
print(a/b)
print(a//b)
print(a**b)

2.3333333333333335
2
343

In [ ]:
a=10
b=4
result = (a+b)*(a-b)
print(result)

84

In [ ]:
for i in range(21):
  if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# funtions
def add (a,b):
  return a+b
print(add(5,3))

8

In [ ]:
def square (num):
  return num**2
print(square(6))

36