<a href="https://colab.research.google.com/github/bhargavdhanisetti/AIML_ZENOTALENT/blob/main/day_7_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#CREATE TABLE students (
#id INT PRIMARY KEY,
#name VARCHAR(60),
#marks INT,
#City VARCHAR(50)
#);

#INSERT INTO students VALUES
#(1, ‘Atharv’, 70, ‘Mumbai’)
#(2, ‘Dhanraj’,89, ‘Sangli’)
#(3, ‘Shreya’, 55, ‘Kerala’)
#(4,’Laxmi’,45, ‘Belgaum’)
#(5, ‘Harshika’, 95, ‘Mysuru’);

#SELECT id, name, marks FROM students;

#SELECT * FROM students
#WHERE marks>70;

#SELECT * FROM students
#WHERE marks<70 AND city =’sangli’;

#SELECT * FROM students
#WHERE marks<70 OR city =’mumbai’;

#SELECT * FROM students
#WHERE NOT city =’mumbai’;

#SELECT * FROM students
#ORDER BY marks ASC;

#SELECT * FROM students
#ORDER BY marks DESC;