<a href="https://colab.research.google.com/github/bhargavdhanisetti/AIML_ZENOTALENT/blob/main/day_8_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Query in subquery


#SELECT MAX(marks) from students;

#SELECT name, city from students
#WHERE city in (
#    SELECT city from students WHERE marks>80
#);

#SELECT name, marks,
#        (SELECT COUNT (*) from students) as total_students
#from students;

#SELECT avg_marks
#from (
#        SELECT AVG(marks) as avg_marks
#        from students
#) AS temp;

#SELECT name, marks from students
#WHERE marks > (SELECT AVG(marks) from students);